table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 95%;
}

th {
    color: #3e3e3e;
}

td {
    border-bottom: 1px dashed #999;
    padding: 1px 0.25em;
}

th,tr:last-child td {
    border-bottom: 2px solid #999;
}
